body{
    font-size: 16px;
    color: #333333;
}
h1{
    font-size: 60px;
    margin:0;
}
h2{
    font-size: 30px;
    color: #445161;
}
ul{
    list-style: none;
    display: inline-block;
    margin: 0;
}
.centered_h2{
    text-align: center;
    padding-bottom: 10px;
}
.product_layout{
    background-color: #445162;
    color: #fff;
    padding: 40px 50px 50px 50px;
    position: relative;
}
.product_layout:after{
    content: '';
    clear: both;
    display: block;
}
.product_info_list{
    padding: 0;
    font-size: 20px;
    line-height: 36px;
}
.product_info_list li::before{
    content: url("../images/check_icon.png");
    padding-right: 10px;
}
.product_img{
    padding-top: 10px;
}
.about_product_main{
    padding: 50px;
}

.product_pluses{
    background-color: #f5f5f5;
    padding: 20px 30px 20px 30px;
}

.product_pluses ul li{
    width: calc(50% - 8px);
    float: left;
    background: url(../images/2-layers.png) no-repeat left 5px;
    padding-left: 50px;
    text-align: justify;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.product_pluses ul li:nth-child(odd){
    margin-right: 8px;
}
.product_pluses ul li:nth-child(even){
    margin-left: 8px;
}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 0px) and (max-width: 992px) {
    .product_pluses ul li,
    .product_pluses ul li:nth-child(odd),
    .product_pluses ul li:nth-child(even){
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.screenshots{
    padding: 20px 30px 20px 30px;
}
.screenshots h2{
    padding-bottom: 0;

}
.screenshots_item img{
    float: left;
    padding: 30px 30px 30px 0;
}

.screenshots_item h3{
    font-size: 24px;
    color: #445161;
}
.reviews{
    background-color: #f5f5f5;
    padding: 20px 30px 20px 30px;
}
.review_item{
    margin-bottom: 30px;
    float: left;
}
.review_item img{
    float: left;
    padding: 0 15px 20px 0;
}
.review_info{
    background-color: #ebebeb;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 20px 2px #00000030;
}

.review_info::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 25px;
    height: 20px;
    width: 20px;
    background-color: #ebebeb;
    transform: rotate(135deg);
}
@media all and (min-width: 0px) and (max-width: 992px){
    .review_info::before{
        left: calc(50% - 10px);
        top: -10px;
    }
    .review_item img{
        margin-left: calc(50% - 35px);
    }
}

.review_info p{
    margin: 0;
    padding-bottom: 10px;
}
.review_info span{
    color: #989898;
}
.pricing{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.pricing_table{
    border: 2px solid #445162;
    background-color: #445162;
    color: #fff;
    border-radius: 5px;
    margin: 0 15px 0 15px;
}
.pricing_table h3{
    font-size: 24px;
    text-align: center;
    margin: 15px 0 15px 0;
}
.pricing_table .price{
    text-align: center;
    display: block;
    font-size: 40px;
    color: #445162;
    background-color: white;
    padding: 10px 0 10px 0;
}

.pricing_table ul{
  padding-left: 0;
    margin: 20px;
}
.pricing_table ul li{
    line-height: 28px;
}

.pricing_table button{
    text-transform: uppercase;
    display: block;
    margin: 0 auto 15px auto;
    width: calc(100% - 20px);
    background-color: #ffffff;
    color: #445161;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
}
@media all and (min-width: 0px) and (max-width: 992px){
    .pricing_table,
    .contact_form{
        margin-bottom: 30px;
    }
}
.Contacts{
    text-align: center;
    position: relative;
}
.centered_h3{
    color: #fff;
    text-align: center;
}
.contact_form{
    display: inline-block;
}
.contact_form textarea,input{
    color: #444;
}
.contact_form input, .contact_form textarea{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 10px;
    display: inline-block;
}
.contact_form input{
    height: 40px;
}
.contact_form input::placeholder{
    color: #445162;
    font-size: 16px;
}
.contact_form textarea::placeholder{
    color: #445162;
    font-size: 16px;
    padding-top: 10px;
}
.contact_form button{
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    color: #445162;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
}
.pricing_table button:hover, .contact_form button:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.contact_information{
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.contact_information li{
    padding-bottom: 15px;
}
@media all and (max-width: 980px) and (min-width: 0px){

}
.contact_information li img{
    padding-right: 10px;
    padding-top: 5px;
}

.sprite{
    height: 42px;
    width: 44px;
    display: inline-block;
    margin: 20px 12px 0 0;
}
.sprite01{
     background: url("../images/social_buttons.png");
 }
.sprite02{
    background: url("../images/social_buttons.png") 44px;
}
.sprite03{
    background: url("../images/social_buttons.png") 92px;
}
.sprite04{
    background: url("../images/social_buttons.png") 142px;
}
.sprite05{
    background: url("../images/social_buttons.png") 190px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    left: 0;
    top:0;
}
.copyright{
    height: 11px;
    color: #445162;
    font-size: 12px;
    text-align: center;

}
